<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>css lesson 1</title>
  <link rel="shortcut icon" href="html-logo.svg" type="image/x-icon">
  <style>
    .block20 {
      background: #e46565;
      color: #1c1c92;
      width: 200px;
      height: 20px;
    }

    .block {
      background: #7f4db1;
      color: #06bb1e;
      width: 200px;
      height: 20px;
    }

    span {
      background: #3939a5;
      color: beige;
    }
  </style>
</head>

<body>
  <div class="block20">блочный</div>
  <div class="block">блочный 2</div>
  <span>строчный</span>
  <h1>Основной заголовок</h1>
  <div>
    <a href="https://validator.w3.org/" target="_blank">about w3c</a>
  </div>
  <div>
    <a href="#section">Увидеть цитату</a>
  </div>
  <div>
    <button>кнопка</button>
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. <q>Lorem ipsum dolor sit.</q>Qui quos aspernatur amet dolor
    eveniet accusantium cum ipsa alias nobis dolorem quidem, soluta, reprehenderit sint natus vitae maxime quod. Impedit
    commodi officia doloribus neque obcaecati blanditiis, et ea quasi debitis laudantium fuga provident ut. Optio
    consequuntur amet laboriosam, voluptate, dolore illo velit earum pariatur eius perferendis harum neque rem aliquid.
    Praesentium, minima repellat nostrum quas, libero facere culpa quasi omnis quia, ipsa eius? Officia, nam eum eos
    explicabo consequuntur ducimus quibusdam vero in nesciunt nemo illo molestias asperiores ad assumenda minus facere
    at possimus quaerat libero aspernatur. Eveniet consequatur cupiditate error perspiciatis dignissimos consectetur
    dolorum? Et quasi dolor reiciendis nihil eaque minus odio perferendis mollitia in blanditiis optio consequatur
    maxime incidunt ipsam natus distinctio obcaecati tempora recusandae, doloribus, possimus inventore quia nemo. Rerum
    maiores tempore eos? Saepe aliquam amet voluptates expedita laborum rerum voluptate, repellendus dolorum, alias unde
    enim omnis similique ab quis sint nulla ipsa, dolore illo vitae fuga quibusdam. Corporis id ab quod aut, atque
    consequatur consequuntur non ducimus nulla accusantium molestias vel facilis ratione fuga doloribus! Quaerat
    corrupti, fugit fuga deserunt iusto reiciendis explicabo error eaque earum. Nesciunt architecto molestiae a
    doloremque enim aut tenetur eaque. Quisquam unde dolorem perferendis pariatur in harum error saepe facere atque, quo
    quod obcaecati architecto assumenda aperiam soluta voluptates! At exercitationem, voluptates dicta esse accusantium
    provident natus alias delectus voluptatibus repellat totam adipisci soluta laboriosam voluptate impedit quasi. Earum
    quia, laborum excepturi eaque error cumque minima consequuntur facere voluptates porro eius placeat nihil at,
    praesentium magnam, hic molestiae. Quo aperiam repellat laudantium sint officiis tempore consequatur aliquid
    expedita odio dicta? In, error maiores quo natus cupiditate sunt inventore consequuntur facilis commodi quisquam?
    Obcaecati quos nihil optio omnis at, voluptatibus numquam sed eum nulla ratione voluptas cum itaque earum
    praesentium nam, quaerat neque?
  </p>
  <section id="section"></section>
  <q>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti est reprehenderit ratione beatae debitis neque
    sequi recusandae et sit illo.
  </q>
  <img src="html-logo.svg" width="600" height="600" alt="">
  <blockquote>Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Предупреждал
    правилами, они ее рекламных текстами однажды ручеек? Запятой знаках прямо домах лучше не силуэт о курсивных жизни
    диких? Дороге!
  </blockquote>
  <video src="video.mov" controls autoplay muted width="1024" height="600"></video>
  <ul>
    <li>список</li>
    <li>список</li>
    <li>список</li>
    <li>список</li>
    <li>список</li>
    <li>список</li>
    <li>
      <ul>
        <li>другие списки</li>
        <li>другие списки</li>
        <li>другие списки</li>
        <li>другие списки</li>
      </ul>
    </li>
  </ul>
  <dl>
    <dt>name</dt>
    <dd>Harry</dd>
    <dt>bd</dt>
    <dd>19.09.2006</dd>
  </dl>
  <a href="mailto:nnurizaa26@gmai.com">nnurizaa26@gmai.com</a>

</body>

</html>