.block {
    display: inline-block;
    background: #b3933d;
    width: 250px;
    box-sizing: border-box;
    padding: 15px;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 30px;
    
}

.main {
    margin: 20px;
    padding: 20px;
    border: 1px solid #000;
    width: 1200px;
    height: 450px;
    overflow: auto;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}