body {
    background: #262628;
    color: #f0f8ff;
    font-size: 30px;
}

.wrapper {
    height: 100vh;
}


.inner {
    display: block;
}

.white {
    background: #f0f8ff;
    border-radius: 15px;
    min-height: 100px;
    position: fixed;
    left: 50%;
    right: 50px;
    bottom: 100px;
}

.red {
    background: #ff0000;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: fixed;
    left: 55%;
    bottom: 150px;
}